.gradle
.DS_Store
/build
/captures
*.iml
*.idea
/app/debug_key.jks
/app/reminder_beta.jks
/app/justreminder.jks
/app/justReminderPro.jks
/local.properties
/app/keys.gradle
/keystore.properties
/hs_err_pid1568.log
/.kotlin/
