<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.cray.software.justreminderpro.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.cray.software.justreminderpro.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <application tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name="com.elementary.tasks.core.services.PermanentReminderReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.elementary.tasks.pro.SHOW" />
                <action android:name="com.elementary.tasks.pro.HIDE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.elementary.tasks.core.services.PermanentBirthdayReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.elementary.tasks.pro.birthday.SHOW" />
                <action android:name="com.elementary.tasks.pro.birthday.HIDE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.elementary.tasks.core.services.ReminderActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.elementary.tasks.pro.reminder.SNOOZE" />
                <action android:name="com.elementary.tasks.pro.reminder.SIMPLE_HIDE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.elementary.tasks.core.services.BirthdayActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.elementary.tasks.pro.birthday.SIMPLE_HIDE" />
                <action android:name="com.elementary.tasks.pro.birthday.CALL" />
                <action android:name="com.elementary.tasks.pro.birthday.SMS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.elementary.tasks.core.services.MissedCallActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.elementary.tasks.pro.missedcall.SIMPLE_HIDE" />
                <action android:name="com.elementary.tasks.pro.missedcall.CALL" />
                <action android:name="com.elementary.tasks.pro.missedcall.SMS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.elementary.tasks.core.app_widgets.events.EventActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.elementary.tasks.pro.reminder.EVENT_EDIT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
