<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <permission
        android:name="com.cray.software.justreminderpro.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="com.cray.software.justreminderpro.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
</manifest>
