<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elementary.tasks"
    android:installLocation="auto">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".ReminderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/HomeDark.Cyan">

        <activity android:name=".navigation.MainActivity" />
        <activity android:name=".creators.CreateReminderActivity" android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.task2" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.task2" />
            </intent-filter>
        </activity>
        <activity android:name=".navigation.settings.theme.SelectThemeActivity" />
        <activity android:name=".navigation.settings.images.MainImageActivity" />
        <activity android:name=".navigation.settings.additional.TemplateActivity" android:configChanges="keyboardHidden"/>
        <activity android:name=".core.additional.QuickSmsActivity" />
        <activity android:name=".core.additional.FollowReminderActivity" />
        <activity android:name=".core.file_explorer.FileExplorerActivity" android:configChanges="keyboardHidden"/>
        <activity android:name=".groups.CreateGroupActivity" android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.group2" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.group2" />
            </intent-filter>
        </activity>
        <activity android:name=".places.CreatePlaceActivity" android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.place2" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.place2" />
            </intent-filter>
        </activity>
        <activity android:name=".notes.ActivityCreateNote" android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.note2" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.note2" />
            </intent-filter>
        </activity>
        <activity android:name=".notes.ImagePreviewActivity" />
        <activity android:name=".notes.NotePreviewActivity" />
        <activity android:name=".google_tasks.TaskListActivity" android:configChanges="keyboardHidden"/>
        <activity android:name=".google_tasks.TaskActivity" android:configChanges="keyboardHidden"/>
        <activity android:name=".core.contacts.ContactsActivity" />
        <activity android:name=".reminder.ReminderDialogActivity" />
        <activity android:name=".core.apps.ApplicationActivity" />
        <activity android:name=".reminder.ReminderPreviewActivity" />
        <activity android:name=".reminder.ShoppingPreviewActivity" />
        <activity android:name=".missed_calls.MissedCallDialogActivity" />
        <activity android:name=".birthdays.ShowBirthdayActivity" />
        <activity android:name=".birthdays.AddBirthdayActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.birthday2" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.birthday2" />
            </intent-filter>
        </activity>
        <activity android:name=".reminder.AddReminderActivity" />

        <activity
            android:name=".core.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".core.services.CallReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".core.services.AutoSyncAlarm" />
        <receiver android:name=".core.services.EventsCheckAlarm" />
        <receiver android:name=".core.services.BirthdayAlarm" />
        <receiver android:name=".core.services.BirthdayCheckAlarm" />
        <receiver android:name=".core.services.AlarmReceiver" />
        <receiver android:name=".core.services.RepeatNotificationReceiver" />
        <receiver android:name=".core.services.PositionDelayReceiver" />
        <receiver android:name=".core.services.DelayReceiver" />
        <receiver android:name=".core.services.MissedCallReceiver" />
        <receiver android:name=".core.services.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <service android:name=".core.services.GeolocationService" />
        <service android:name=".core.services.TasksService" />
        <service android:name=".core.services.CheckBirthdays" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-4zi1d414h0v8sxe" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>