<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/wear_app_name"
        android:theme="@android:style/Theme.DeviceDefault">

        <!-- Marks this a standalone Wear app: it runs without the phone app installed, though in
             this app's case it is useless without it since all reminder data is relayed from the
             phone over the Wearable Data Layer. -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.github.naz013.wear.MainActivity"
            android:exported="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.github.naz013.wear.sync.WearReminderDataListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/reminders" />
            </intent-filter>
        </service>

        <service
            android:name="com.github.naz013.wear.tile.NextReminderTileService"
            android:exported="true"
            android:label="@string/wear_app_name"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
        </service>
    </application>
</manifest>
