name: Build and Publish release

on:
  push:
    branches:
      - 'release/**'

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:

    - name: Clone repo
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: gradle

    - name: Extract existing version code
      run: |
        # Extract version number from branch name
        version_name=${GITHUB_REF#refs/heads/release/}

        # Get existing version code from build.gradle
        version_code=$(grep -o -E 'versionCode = [[:digit:]\.]+' app/build.gradle.kts | grep -o -E '[[:digit:]\.]+')

        # Increment existing version code by 1
        version_code=$((version_code + 1))

        # Set environment variable for later use
        echo "VERSION_NAME=$version_name" >> $GITHUB_ENV
        echo "VERSION_CODE=$version_code" >> $GITHUB_ENV

    - name: Increase version code and change version name
      uses: chkfung/android-version-actions@v1.2.2
      with:
        gradlePath: app/build.gradle.kts
        versionCode: ${{ env.VERSION_CODE }}
        versionName: ${{ env.VERSION_NAME }}

    - name: Commit and push changes
      run: |
        git config user.email "github-actions@github.com"
        git config user.name "Github Actions"
        git commit -am "Bump version code to ${{ env.VERSION_CODE }} and change version name to ${{ env.VERSION_NAME }}"
        git push origin HEAD

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

#    - name: Create keystore.properties file
#      run: |
#        echo "signApk=true" >> keystore.properties
#        echo "freeApiKey=${{ secrets.FREE_API_KEY }}" >> keystore.properties
#        echo "proApiKey=${{ secrets.PRO_API_KEY }}" >> keystore.properties
#        echo "proPlacesApiKey=${{ secrets.PRO_PLACES_API_KEY }}" >> keystore.properties
#        echo "freePlacesApiKey=${{ secrets.FREE_PLACES_API_KEY }}" >> keystore.properties
#        echo "debugKeyStoreFile=debug_key.jks" >> keystore.properties
#        echo "debugKeyStorePassword=${{ secrets.DEBUG_KEYSTORE_PASSWORD }}" >> keystore.properties
#        echo "debugKeyAlias=reminder.debug" >> keystore.properties
#        echo "debugKeyPassword=${{ secrets.DEBUG_KEY_PASSWORD }}" >> keystore.properties
#        echo "releaseFreeKeyStoreFile=justreminder.jks" >> keystore.properties
#        echo "releaseFreeKeyStorePassword=${{ secrets.FREE_SIGN_KEY_STORE_PASSWORD }}" >> keystore.properties
#        echo "releaseFreeKeyAlias=${{ secrets.FREE_SIGN_KEY_ALIAS }}" >> keystore.properties
#        echo "releaseFreeKeyPassword=${{ secrets.FREE_SIGN_KEY_PASSWORD }}" >> keystore.properties
#        echo "releaseProKeyStoreFile=justReminderPro.jks" >> keystore.properties
#        echo "releaseProKeyStorePassword=${{ secrets.PRO_SIGN_KEY_STORE_PASSWORD }}" >> keystore.properties
#        echo "releaseProKeyAlias=${{ secrets.PRO_SIGN_KEY_ALIAS }}" >> keystore.properties
#        echo "releaseProKeyPassword=${{ secrets.PRO_SIGN_KEY_PASSWORD }}" >> keystore.properties
#        echo "reviewsProjectId=${{ secrets.REVIEWS_PROJECT_ID }}" >> keystore.properties
#        echo "reviewsApiKey=${{ secrets.REVIEWS_API_KEY }}" >> keystore.properties
#        echo "reviewsStorageBucket=${{ secrets.REVIEWS_STORAGE_BUCKET }}" >> keystore.properties
#        echo "freeReviewsAppId=${{ secrets.FREE_REVIEWS_APP_ID }}" >> keystore.properties
#        echo "proReviewsAppId=${{ secrets.PRO_REVIEWS_APP_ID }}" >> keystore.properties
#        echo "reviewsAdminAppId=${{ secrets.ADMIN_REVIEWS_APP_ID }}" >> keystore.properties
#        echo "reviewsAdminKeyStoreFile=debug_key" >> keystore.properties
#        echo "reviewsAdminKeyStorePassword=${{ secrets.REVIEW_ADMIN_KEYSTORE_PASSWORD }}" >> keystore.properties
#        echo "reviewsAdminKeyAlias=reviews.admin.debug" >> keystore.properties
#        echo "reviewsAdminKeyPassword=${{ secrets.REVIEW_ADMIN_KEY_PASSWORD }}" >> keystore.properties

    - name: Create services json file for PRO version
      run: cat /home/runner/work/reminder-kotlin/reminder-kotlin/app/src/pro/google-services.json | base64

    - name: Put data into services json file for PRO version
      env:
        DATA: ${{ secrets.GOOGLE_SERVICES }}
      run: echo $DATA > /home/runner/work/reminder-kotlin/reminder-kotlin/app/src/pro/google-services.json

    - name: Create services json file for FREE version
      run: cat /home/runner/work/reminder-kotlin/reminder-kotlin/app/src/free/google-services.json | base64

    - name: Put data into services json file for FREE version
      env:
        DATA: ${{ secrets.GOOGLE_SERVICES_FREE }}
      run: echo $DATA > /home/runner/work/reminder-kotlin/reminder-kotlin/app/src/free/google-services.json

    - name: Create services json file for CloudTestAdmin
      run: cat /home/runner/work/reminder-kotlin/reminder-kotlin/cloudtestadmin/google-services.json | base64

    - name: Put data into services json file for CloudTestAdmin
      env:
        DATA: ${{ secrets.GOOGLE_SERVICES }}
      run: echo $DATA > /home/runner/work/reminder-kotlin/reminder-kotlin/cloudtestadmin/google-services.json

    - name: Build Release AAB
      id: buildRelease
      run: ./gradlew :app:bundleRelease -x :cloudtestadmin:bundleRelease -x :reviewsadmin:bundleRelease

    - name: Save signed aab
      uses: actions/upload-artifact@v4
      if: ${{ always() }} # IMPORTANT: Upload reports regardless of status
      with:
        name: signed-aab
        path: app/build/outputs/bundle

    - name: Create service_account.json
      id: create-service-account
      run: echo '${{ secrets.SERVICE_ACCOUT_JSON }}' > service_account.json

    - name: Sign Free AAB
      id: sign-free
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/bundle/freeRelease
        signingKeyBase64: ${{ secrets.FREE_SIGN_KEY }}
        alias: ${{ secrets.FREE_SIGN_KEY_ALIAS }}
        keyStorePassword: ${{ secrets.FREE_SIGN_KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.FREE_SIGN_KEY_PASSWORD }}

    - name: Deploy FREE to Play Store (Alpha)
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJson: service_account.json
        packageName: com.cray.software.justreminder
        releaseFiles: ${{ steps.sign-free.outputs.signedReleaseFile }}
        track: production
#        changesNotSentForReview: true

    - name: Sign Pro AAB
      id: sign-pro
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/bundle/proRelease
        signingKeyBase64: ${{ secrets.PRO_SIGN_KEY }}
        alias: ${{ secrets.PRO_SIGN_KEY_ALIAS }}
        keyStorePassword: ${{ secrets.PRO_SIGN_KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.PRO_SIGN_KEY_PASSWORD }}

    - name: Deploy PRO to Play Store (Alpha)
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJson: service_account.json
        packageName: com.cray.software.justreminderpro
        releaseFiles: ${{ steps.sign-pro.outputs.signedReleaseFile }}
        track: production
